@keyframes writer {
    0%{
        content:"|";
    }
    3%{
        content:"D|";
    }
    6%{
        content:"De|";
    }
    9%{
        content:"Des|";
    }
    12%{
        content:"Desi|";
    }
    15%{
        content:"Desig|";
    }
    18%{
        content:"Design|";
    }
    21%{
        content:"Designe|";
    }
    24%{
        content:"Designer|";
    }
    27%{
        content:"Designe|";
    }
    30%{
        content:"Design|";
    }
    33%{
        content:"Design|";
    }
    36%{
        content:"Desi|";
    }
    39%{
        content:"Des|";
    }
    42%{
        content:"De|";
    }
    45%{
        content:"D|";
    }
    48%{
        content:"De|";
    }
    51%{
        content:"Dev|";
    }
    54%{
        content:"Deve|";
    }
    57%{
        content:"Devel|";
    }
    60%{
        content:"Develo|";
    }
    63%{
        content:"Develop|";
    }
    66%{
        content:"Develope|";
    }
    69%{
        content:"Developer|";
    }
    72%{
        content:"Develope|";
    }
    75%{
        content:"Devlop|";
    }
    78%{
        content:"Devlo|";
    }
    81%{
        content:"Devl|";
    }
    84%{
        content:"Dev|";
    }
    87%{
        content:"De|";
    }
    90%{
        content:"D|";
    }
    93%{
        content:"|";
    }
    96%{
        content:"L|";
    }
    99%{
        content:"La|";
    }
    100%{
        content:"Lar|";
    }
}
